@{
    ViewData["Title"] = "Home Page";
}
@model IndexView_Numbers


<div class="text-center">
    <h1 class="display-4">Assignment: ViewModel Fun</h1>

    <h2>Here are some numbers!</h2>
    @foreach(var number in @Model.numbers){
        <p>@number</p>
}



</div>
