<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    @* <h1>Index page</h1> *@
    <h3>Here are some Delicious Foods</h3>
    @{
      List<string> foods = new List<string>();
        foods.Add("Apple Pie");
        foods.Add("Cactus");
        foods.Add("Burrito");
        foods.Add("Hamburger");
        foreach (string food in foods)
        {
          <p>@food</p>
        }
    }
</body>
</html>