@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-dark bg-light rounded pt-5 pb-5">
    <h1 class="text-center font-italic">Welcome to Save-a-Date!</h1>
    <hr>

    <div class="row mt-5">
        <div class="col-md">
            <partial name="_Register"></partial>
        </div>

        <div class="col-md">
            <partial name="_Login"></partial>
        </div>
    </div>
</div>
