@model User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex">
    <h2>Welcome to CheeZie's Rat Emporium and Child Casino</h2><h5>&#169;</h5><h2>!</h2>
</div>
<div class="text-center d-flex">
    <h1 >YOU HAVE LOGGED IN</h1>
    <div>
        <a href="logout">Logout</a>
    </div>
</div>
    <div class="text-center bg-warning m-3">
        <img class="rounded-circle m-4" src="https://nightofthelivingtrev.files.wordpress.com/2012/02/chuckbillybob.jpg?w=584" alt="CheeZie"/>
    </div>
</table>
