@model User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex">
    <h2>Welcome to CheeZie's Rat Emporium and Child Casino</h2><h5>&#169;</h5><h2>!</h2>
</div>
<div class="text-left d-flex">
    <h1>YOU HAVE LOGGED IN</h1>
    <div>
        <a href="logout">Logout</a>
    </div>
</div>
</table>
