@{
    ViewData["Title"] = "Home Page";
}
@model IndexView_Message


<div class="text-center">
    <h1 class="display-4">Assignment: ViewModel Fun</h1>

    <h4>Message: @Model.SingleMessage</>



</div>
