@{
    ViewData["Title"] = "Home Page";
}
@model IndexView_Name

<div class="text-center">
    <h1 class="display-4">Assignment: ViewModel Fun</h1>

    <h4>First Name: @Model.FirstName</>
    <h4>Last Name: @Model.LastName</h4>

</div>
