@model Chef
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="col-sm-6 mx-auto mx-auto">
        <div class="card" >
                <div class="card-body">
                    <table class="table table-striped">
                        <h1 class="display-4">Add a new Chef!</h1><hr>
                        <form asp-action="AddChef" asp-controller="Home" method="post">
                            <tr>
                                    <td><label asp-for="FirstName"></label></td>
                                    <td><input asp-for="FirstName"></td>
                                    <td colspan="2"><span asp-validation-for="FirstName"></span></td>
                                <br>
                            </tr>
                            <tr>
                                    <td><label asp-for="LastName"></label></td>
                                    <td><input asp-for="LastName"></td>
                                    <td colspan="2"><span asp-validation-for="LastName"></span></td>
                                <br>
                            </tr>
                            <tr>
                                    <td><label asp-for="DOB"></label></td>
                                    <td><input asp-for="DOB"></td>
                                    <td colspan="2"><span asp-validation-for="DOB"></span></td>
                                <br>
                            </tr>
                                <td colspan="2" ><button>Add</button></td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
</div>
