<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/css/style.css"/>
  <title>Document</title>
</head>
<body>
    <hr>
    <h3>About Me</h3>
      <form action="Results" method="post">
    <label>Your Name: </label>
    <input type="text" name="Name"></input>
    <br>
    <select name="Location">
      <option>San Jose</option>
      <option>Seattle</option>
      <option>Texas</option>
    </select>
    <br>
    <select name="Language">
      <option>Python</option>
      <option>C#</option>
      <option>HTML</option>
      <option>JavaScript</option>
    </select>
    <br>
    <label>Comments: </label>
    <br>
    <textarea name="Comment"></textarea>
    <br>
    <button type="submit">Submit</button>
    </form>
</body>
</html>